ion-content
{
    .rowstyle{
        border: solid;
        border-color: red($color: #000000);
        border-radius: 30px;
        margin-top: 15px;
        margin-left: 20px;
        margin-right: 20px;
        ion-input{
            margin-top: 5px;
        }
        ion-icon{
            margin-trim: 20px;
        }
    }
    .buttom-bar{
        background-color: rgb(235, 240, 241);
        

     
    }

}
